.modalButton{
    color: rgb(255, 255, 255);
    background-color: indigo;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    margin: 30px auto 15px;
    transition: all 0.15s ease 0s;
    width: 120px;
    justify-content: center;
}

.modalButton:disabled{
    cursor: not-allowed;
    background: rgba(94, 97, 112, 0.3) !important;
    color: rgba(94, 97, 112, 0.8) !important;
}